@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

:root {
  --panel-growth-duration: 0.7s;
  --image-text-content-transition-delay: calc(
    var(--panel-growth-duration) + 0.1s
  );
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex var(--panel-growth-duration) ease-in;
  -webkit-transition: flex var(--panel-growth-duration) ease-in;
  overflow: hidden;
}

.panel.expanding,
.panel.active {
  flex: 5;
}

li {
    margin: 65px 0;
    font-size: 22px;
    font-family: 'BioRhyme';
  }

/* --------------------------------------------------------
Overlay Settings */

/* The ::before pseudo-element is being used as the overlay */
.panel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.5s;
  filter: blur(5px);
}

.panel:hover::before {
  opacity: 1;
}

.image__text-content {
  transform: translateY(20px);
  opacity: 0;
}

.expanding .image__text-content {
  transition: transform 0.25s var(--image-text-content-transition-delay),
    opacity 0.3s var(--image-text-content-transition-delay);
}

.active .image__text-content {
  transition: transform 0.25s, opacity 0.3s;
}

.active:hover .image__text-content,
.expanding .image__text-content {
  transform: translateY(0);
  opacity: 1;
}

.image__title {
  font-size: 2em;
  text-align: center;
}

.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}

/* ------------------------------------------------
Mobile Settings */

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}